<div class="body">
  <div>
        <navbar>
            <div class="h2-cl">
                <h2>FLOWERLAB</h2>
            </div>
            <div class="navbar-bot">
                <div class="navbar-class-bat navbar-menu">
                   
                </div>
                <div class="navbar-class-bat navi-cl">

                        <ul>
                          <li>PLANTS</li>
                          <li>BLOG</li>
                          <li>CONTACTS</li>
                          <li>ABOUT</li>
                        </ul> 

                </div>
               
                <div class="navbar-class-bat navbar-li">
                    

                    
                </div>
            </div>
        </navbar>
        
    </div>
</div>
